<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://studentregistryapp20221116013432.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7ec2f8e1-548b-4f58-82c2-7fcdcd77d080/resourceGroups/StudentRegistryResource/providers/Microsoft.Web/sites/StudentRegistryApp20221116013432</ResourceId>
    <UserName>$StudentRegistryApp20221116013432</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/7ec2f8e1-548b-4f58-82c2-7fcdcd77d080/resourceGroups/StudentRegistryResource/providers/Microsoft.ApiManagement/service/StudentRegistryAppapi/apis/StudentRegistryAppApi</ApiResourceId>
    <PublishUrl>https://studentregistryapp20221116013432.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>